@import "../../../App.scss";

#collection .cards-container .card {
  position: relative;
  width: 240px;
  background-color: $dark-white;
  cursor: pointer;
  box-shadow: 1px 2px 6px $dark-whitesmoke;
  transition: $normal-transition;

  .fav {
    @include flexCenter;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    border: $normal-border;
    box-shadow: 0 0 6px #fff;

    img {
      max-height: 25px;
    }
  }

  &:hover {
    box-shadow: 1px 2px 6px darken($gray, 20%);
  }

  .divide {
    padding: 1rem 10px;
  }

  .course-name {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .desc {
    font-size: 14px;
    max-height: 75px;
    overflow-y: scroll;
    margin-bottom: 0.7rem;
    cursor: default;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .intructors {
    @include flexCenter;
    flex-wrap: wrap;
    font-size: 13px;
    color: $darkish-gray;
    margin-bottom: 1rem;
    width: fit-content;

    span {
      @include fitContent;
      background: $blackish-blue;
      font-weight: bold;
      margin-right: 7px;
      padding: 5px 15px;
      margin-top: 0.5rem;
    }
  }

  .time {
    @include flexCenter;
    text-align: center;
    font-size: 12px;
    background: $darkish-gray;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;

    .dot {
      width: 7px;
      height: 7px;
      display: inline-block;
      background: #fff;
      margin: 0 6px;
      border-radius: 50%;
    }
  }
}

.popup-box {
  @include fitContent;
  opacity: 0;
  position: absolute;
  border: $normal-border $dark-whitesmoke;
  border-radius: 10px;
  top: 0;
  right: 0;
  z-index: -10;
  max-width: 100%;
  transition: $slow-transition;
  padding: 14px 10px;
  background: #fff;

  @media screen and (max-width: 600px) {
    display: none;
  }

  &.active {
    opacity: 1;
    transform: translateX(100%);
    z-index: 10;
  }

  &.left {
    transform: translateX(-100%);
  }

  &.center {
    transform: translateX(0);
  }

  h1 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .last-updated {
    font-size: 11px;
    background: $light-whitesmoke;
    width: fit-content;
    padding: 3px 12px;
    border-radius: 5px;
    margin-bottom: 8px;
    font-weight: bold;
    color: $darkish-gray;
  }

  .instructors {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;

    span {
      margin-top: 6px;
      background: $blackish-blue;
      padding: 3px 9px;
      font-size: 13px;
      border-radius: 3px;
      margin-right: 10px;
    }
  }

  .time {
    @include flexCenter;
    text-align: center;
    background: $darkish-gray;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 11px;
    flex-wrap: wrap;

    .dot {
      height: 5px;
      width: 5px;
    }
  }

  .desc {
    font-size: 13px;
    margin-top: 12px;
    font-size: 14px;
    max-height: 75px;
    overflow-y: scroll;
    margin-bottom: 0.7rem;
    cursor: default;
  }

  .original-div {
    @include flexCenter;
    justify-content: space-between;
    margin-bottom: 15px;

    .original {
      background: $orange;
      height: 100%;
      padding: 6px 0;
      border-radius: 5px;
      width: 100%;
      margin-right: 1rem;
      text-align: center;
      font-size: 14px;
      box-shadow: 1px 1px 4px $dark-whitesmoke;
      transition: $normal-transition;

      &:hover {
        background-color: darken($orange, 4%);
      }
    }

    img {
      height: 27px;
      background: #fff;
      outline: $normal-border #000;
      border-radius: 50%;
      padding: 3px;
    }
  }

  .watch-now {
    font-size: 13px;
    background: $light-green;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding: 6px 10px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 1px 1px 4px $dark-whitesmoke;
    transition: $normal-transition;

    &:hover {
      background-color: darken($light-green, 4%);
    }
  }
}
